[variables]
PYTHONPATH = "/app/src"

[phases.setup]
nixPkgs = ["python312"]

[phases.install]
dependsOn = ["setup"]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "python mcp_adapter/Server_F.py"
